doctype html
html
  head
   title my jade template
  body(lang='en')
    p 2<sup>2</sup> H<sub>2</sub>O
    p Элемент P указывается тэгом &lt;p&#062; &lt;hr&gt;
    h1(align='center') XXIII Московский Международный фестиваль Рекламы

    p(align='center')
     |пройдет <ins>с <strong>18</strong> по <strong>20</strong> ноября</ins> 2013 года
     br
     |в <em>Центре Международной Торговли на Красной Пресне</em>

    pre
     |         ____
     |        o8%8888,
     |      o88%8888888.
     |     8'-    -:8888b
     |    8'         8888
     |   d8.-=. ,==-.:888b
     |   >8 `~` :`~' d8888
     |   88         ,88888
     |   88b. `-~  ':88888
     |   888b ~==~ .:88888
     |   88888o--:':::8888
     |   `88888| :::' 8888b
     |   8888^^'       8888b
     |  d888           ,%888b.
     | d88%            %%%8--'-.
     |/88:.__ ,       _%-' ---  -
     |    '''::===..-'   =  --.  `

    h4 Организаторы&nbsp;&nbsp;&nbsp;фестиваля

    p 
     |Российская Ассоциация Рекламных Агенств
     br
     |Ассоциация Рекламодателей
     br
     |Общественный Совет по Рекламе

    h4 Цель

    p Повысить престиж рекламы как вида искусства, продемонстрировать последние достижения в этой области зарубежных о отечественных производителей, способствовать выдвижению на рекламный рынок наиболее интересных и оригинальных работ.

    h4 Задачи Фестиваля

    p
     |Проведение <big>конкурсов</big> телевизионной, печатной рекламы в Интернет, <small>радиорекламы</small>, полиграфического воплощения, конкурса молодых креаторов. Осуществление научной программы Фестиваля(семинары, круглые 
     |столы, расширенные заседания <q lang="de">Общественного Совета</q>, конференции).
     br
     |На Фестивале будет открыт <q>Рекламный клуб</q> для общения, профессиональных встреч, презентаций.

    h4 Число участников:
    pre
     |==================
     |1997:	  25
     |1998:	 225
     |1999:	1225
    
    hr(width='500')
    blockquote &copy; 2013 Web|<sub>DESIGN</sub>|Group, Moscow
