doctype html
html
  head
    title [Специалист] HTML и CSS. Уровень 1
  body
    h1 [Специалист] HTML и CSS. Уровень 1
    p
     |Начало:&nbsp;
     |<a href="/les1.html">лекция</a>
     |&nbsp;
     |<a href="/lab1.html">лабораторная</a>
    p
     |Валидация:&nbsp;
     |<a href="/les2.html">лекция</a>
    p
     |Ссылки
     |<a href="/module-3/links-1.html">links-1.html</a>
     |&nbsp;
     |<a href="/module-3/links-2.html">links-2.html</a>
     |&nbsp;
     |<a href="/lab2.html">лабораторная</a>
    p
     |Изображения
     |<a href="/les4.html">лекция</a>
     |<a href="/lab4.html">лабораторная</a>
    p
     |CSS
     |<a href="/les5.html">лекция</a>
