doctype html
html
  head
    title [Специалист] HTML и CSS. Уровень 1
  body
    h1 [Специалист] HTML и CSS. Уровень 1
    p
     |Начало:&nbsp;
     |<a href="/les1.html">лекция</a>
     |&nbsp;
     |<a href="/lab1.html">лабораторная</a>
    p
     |Валидация:&nbsp;
     |<a href="/les2.html">лекция</a>
    p
     |Ссылки
     |<a href="/module-3/links-1.html">links-1.html</a>
     |&nbsp;
     |<a href="/module-3/links-2.html">links-2.html</a>
     |&nbsp;
     |<a href="/lab2.html">лабораторная</a>
    p
     |Изображения
     |<a href="/les4.html">лекция</a>
     |<a href="/lab4.html">лабораторная</a>
    p
     |CSS
     |<a href="/les-css.html">лекция</a>
     |<a href="/lab-css.html">лабораторная</a>
    p
     |Шрифты
     |<a href="/les-font.html">лекция</a>
     |<a href="/lab-font.html">лабораторная</a>
    p
     |Списки
     |<a href="/list-ul.html">ul</a>
     |<a href="/list-ol.html">ol</a>
     |<a href="/list-dl.html">dl</a>
     |<a href="/lab-list.html">лабораторная</a>
     p
     |Таблицы
     |<a href="/tables.html">лекция</a>
     |<a href="/php.html">лабораторная</a>
     p
     |Формы
     |<a href="/form.html">лекция</a>
     |<a href="/forms.html">лабораторная</a>
