doctype html
html
  head
   title my jade template
  body
    h1(align='center') XXIII Московский Международный фестиваль Рекламы

    p(align='center')
     |пройдет с 18 по 20 ноября 2013 года
     br
     |в Центре Международной Торговли на Красной Пресне

    h4 Организаторы фестиваля

    p 
     |Российская Ассоциация Рекламных Агенств
     br
     |Ассоциация Рекламодателей
     br
     |Общественный Совет по Рекламе

    h4 Цель

    p Повысить престиж рекламы как вида искусства, продемонстрировать последние достижения в этой области зарубежных о отечественных производителей, способствовать выдвижению на рекламный рынок наиболее интересных и оригинальных работ.

    h4 Задачи Фестиваля

    p
     |Проведение конкурсов телевизионной, печатной рекламы в Интернет, радиорекламы, полиграфического воплощения, конкурса молодых креаторов. Осуществление научной программы Фестиваля(семинары, круглые 
     |столы, расширенные заседания Общественного Совета, конференции).
     br
     |На Фестивале будет открыт "Рекламный клуб" для общения, профессиональных встреч, презентаций.

    h4 Число участников:
    //
     ==================
     1997:	  25
     1998:	 225
     1999:	1225
    
    hr(width='500')
    blockquote © 2013 Web|DESIGN|Group, Moscow
